<h2>Create Candle</h2>
<form class="create-candle">
    <div class="form-group">
        <label for="candle-name">Name</label>
        <input type="text" class="form-control" id="candle-name" name="candle-name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="candle-scent">Scent</label>
        <input type="text" class="form-control" id="candle-scent" name="candle-scent" placeholder="Scent">
    </div>
    <div class="form-group">
        <label for="candle-height">Height</label>
        <input type="number" class="form-control" id="candle-height" name="candle-height" placeholder="Height">
    </div>
    <button type="submit" class="btn btn-default">Create</button>
</form>

<script type="text/javascript" src="/js/candle/create.js"></script>