<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{scent}}</h6>
    <p class="card-text">The candle currently has a height of {{height}} cm</p>
  </div>
</div>