<nav style="font-family: 'Abril Fatface', cursive;" class="navbar navbar-default">
    <div class="container-fluid">
        <a style="font-size: 35px" class="navbar-brand navbar-expand-lg">Flick-Finder</a>
        <div class="navbar-header">
            {{#unless isLoggedOut}}
            <a class="navbar-brand">
            </a>
            <a class="navbar-brand">
            </a>
            <a class="navbar-brand">
            </a>
            {{/unless}}
        </div>
    </div>
</nav>