{{> navbar }}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form id="movie-search">
            <div class="form-group">
                <input type="text" class="form-control" id="movie-search-title" aria-describedby="emailHelp"
                    placeholder="Search by movie name...">
            </div>
        </form>
    </div>
</div>


<div id="searchResults">

</div>

<div style="margin-top: 50px" class="container">
    <div class="row" id="recRow">
        <div class="col-md-8" id="recId">
            {{#if  originalTitle}}
            <h1 style="font-size: 24px; font-weight: bold">Because you watched {{originalTitle}}...</h1>
        </div>
    </div>
    <div class="card-deck row" id="recContainer">
        {{#each recMovies}}
        <div class="card col-md-2">
            <a href="/movie/{{this.movieid}}">
                <img class="img-fluid" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{this.poster_path}}"
                    alt="{{this.title}}">
            </a>
        </div>

        {{/each}}
    </div>
    {{/if}}
</div>

<div style="margin-top: 50px" class="container">
    <div class="row" id="npRow">
        <div class="col-md-5">
            <h1 style="font-size: 24px; font-weight: bold">Now Playing: </h1>
        </div>
    </div>

    <div class="card-deck row" id="npContainer">
    </div>
</div>


<script src="/js/home.js"></script\>