<div class="row">
    <div class="col-md-6 offset-md-3">
        <form id="movie-search">
            <div class="form-group">
                <label for="movie-search-title">Search a Movie...</label>
                <input type="text" class="form-control" id="movie-search-title" aria-describedby="emailHelp"
                    placeholder="Enter movie">

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


<div id="searchResults">

</div>

<div class="row" id="recRow">
    <div class="col-md-8 offset-md-2" id="recId">
       {{#if  originalTitle}}
        <h1>Because you watched {{originalTitle}}...</h1>
        <div class="card-deck" id="recContainer">
            {{#each recMovies}}
            <div class="card">
                <a href="/movie/{{this.movieid}}">
                    <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{this.poster_path}}" alt="{{this.title}}">
                </a>
            </div>

            {{/each}}
        </div>
        {{/if}}

    </div>

</div>



<div class="row" id="npRow">

    <div class="col-md-8 offset-md-2">
        <h1>Now Playing: </h1>
        <div class="card-deck" id="npContainer"></div>

    </div>

</div>

<script src="/js/home.js"></script>
