<h2>
    Logged in page
    {{!-- <span class="member-name">
        {{email}}
    </span> --}}



</h2>
<div>
    <button class="now-playing">BUTTON</button> 
</div>


<div class= "npContainer"></div>

