<form action="" id="movie-search">
    <input type="text" name="" id="movie-search-title">
</form>


<div id="searchResults">

</div>



<div class="row" id="npRow">
    <div class="col-md-8 offset-md-2">
        <div class="card-deck" id="npContainer"></div>

    </div>

</div>



<<<<<<< HEAD
<form action="" id="movie-search">
    <input type="text" name="" id="movie-search-title" placeholder="search movies..."></input>
</form>
=======
>>>>>>> origin/master


<div>
    <button class="now-playing">BUTTON</button>
</div>
