{{>navbarlanding}}

<div class="jumbotron" id="banner">
    <img class="landingimage" src="https://www.wallpaperflare.com/static/862/449/162/jack-reacher-star-wars-interstellar-movie-john-wick-wallpaper.jpg"
        alt="movie-background">
    <h1 class="display-4">Flick Finder</h1>
    <p class="lead">Keep Track of All Your Favorite Movies In One Place

        <br>
        <br>
        Finally a platform where you can: Search any title, receive similar recommendations and store
        movies in your favorites library.
    </p>
    <a type="button" class="btn btn-primary signup-button btnsignup" data-toggle="modal" data-target="#splashmodal">
        Sign Up
    </a>

    <a type="button" class="btn btn-primary login-button btnlogin" data-toggle="modal" data-target="#splashmodal">
        Login
    </a>

</div>

<div class="modal" id="splashmodal" tabindex="-1" role="dialog" aria-labelledby="splashmodalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<script type="text/javascript" src="/js/signup.js"></script>
<script type="text/javascript" src="/js/login.js"></script>