<link href="stylesheets/index.css" rel="stylesheet">

<div class="jumbotron" id="banner">
    <img src="https://www.wallpaperflare.com/static/862/449/162/jack-reacher-star-wars-interstellar-movie-john-wick-wallpaper.jpg" alt="movie-background">
  <h1 class="display-4">Hello World</h1>
  <p class="lead">Keep Track of All Your Favorite Movies In One Place</p>
  <hr class="my-4">
  <p>Finally a platform where you can: Search any title, receive similar recommendations and store movies in your favorites library.  </p>
  <a class="btn btn-primary btn-lg" href="signup" role="button">Create Account</a>
</div>

<h2>
    Welcome
    <span class="member-name">
        {{email}}
    </span>
</h2>
